/* This should be where all the changes will take place on my main html file. */

h1 {
font size: 3em;
}

/* Where should the bg img be? */
body {
font-family: arial;
  background: url('https://source.unsplash.com/random');
}

img {
background: url('https://source.unsplash.com/random');
  opacity: 0.1;
}

p.impact {
  font-family: Impact, Charcoal, sans-serif;
}

/* This is starting to look like a 90s styled website */
/* I love retro */

li {
  float: right;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
}

/* Johnny, riddle me this, why doesn't the text-decoration modifier work on the main page?
Could it be that it should be udner the 'a' above */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


