/* This should be where all the changes will take place on my main html file. */

h1 {
font size: 3em;
}

body {
font-family: arial;
}

a {
text-decoration: none;
}

p.impact {
  font-family: Impact, Charcoal, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
